/*Body Styles */
body {
    background-color: white;
    font-family: 'Quicksand';
}

h2 {
    text-align: center;
}

.hidden-elements {
    visibility: hidden;
}



/*Section Headings */
.container-fluid > h3 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Permanent Marker';
}

p {
   line-height: 36px; 
   letter-spacing: 1.33px;
   padding-bottom: 15px;
   font-size: 20px;
   text-align: justify; 
}

.no-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
}

section {
    margin-bottom: 50px;
}


#animation-container-ellipsis{
    margin-top: -150px;
}

#animation-container-emphasis {
    margin-top: -50px;
}

#animation-container-star {
    margin-top: -120px;
    margin-left: -60px;
}

    .section-animation {
        height: 120px;
    }
    
        .section-animation-center {
            left: 0;
            right: 0;
            margin: auto;
        }
        
#ellipsis {
    height: 95%;
    width: 95%;
    position: absolute;
    z-index: 1;
}

#emphasis {
    height: 70%;
    width: 70%;
    position: absolute;
    z-index: 1;
}

#star {
    height: 35%;
    width: 35%;
    position: absolute;
    z-index: 1;
}


/*Navbar Styles*/

.navbar {
    border-radius: 0px;
    min-height: 85px;
    border: 0px;
    background-color: white;
    margin-bottom: 0px;
    
}

.navbar-default .navbar-link {
    color: black;
    font-family: 'Permanent Marker';
    font-size: 200%;
    text-decoration: none;
}

.nav-subtitle {
    font-family: 'Permanent Marker';
    font-size: 150%;
}

.navbar-toggle {
    display: block;
    height: 85px;
    width: 85px;
    float: left;
    /*
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15); 
    */
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    margin: auto;
}

.nav-pills {
    padding-top: 100px;
    font-family: 'Permanent Marker';
}


/* Header Styles */

#header-img {
   margin-top: 80px;
}

.header-nav-btn {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0; right: 0;  bottom: 0; left: 0;
}

.path {
  stroke-dasharray: 875;
  stroke-dashoffset: 875;
  animation: draw .75s linear forwards;
}

@keyframes draw {
  from {
      stroke-dashoffset: 925; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes erase {
  from {
      stroke-dashoffset: 925; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

#arrow {
   margin-top: -90px;
   height: 80%;
   width: 70%;
   position: absolute;
   z-index: 1;
}

#briefcase {
    height: 50%;
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}
   
    #select-briefcase {
        height: 60%;
        width: 60%;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
        margin-top: 10px;
    }
        
        #select-briefcase-path-draw {
            stroke-dasharray: 925;
            stroke-dashoffset: 925;
            animation: draw .5s linear forwards normal infinite paused;
        
        }
        
        #select-briefcase-path-erase {
            stroke-dasharray: 925;
            stroke-dashoffset: 925;
            animation: erase .5s linear forwards reverse infinite paused;
        }

#graduation {
    height: 60%;
    width: 60%;
    margin-top: 15px;
    margin-right: 10px;
}

    #select-graduation {
        height: 65%;
        width: 65%;
        position: absolute;
        z-index: 1;
        margin-right: 10px;
        margin-top: 10px;
    }
    
        #select-graduation-path {
            stroke-dasharray: 1025;
            stroke-dashoffset: 1025;
            animation: draw 3s linear forwards;
        }

#envelope {
    height: 60%;
    width: 60%;
    margin-top: -15px;
    margin-right: 0px;
}

    #select-envelope {
        height: 65%;
        width: 65%;
        position: absolute;
        z-index: 1;
        margin-right: 0px;
        margin-bottom: 85px;
    }
    
        #select-envelope-path {
            stroke-dasharray: 850;
            stroke-dashoffset: 850;
            animation: dash 3s linear forwards;
        }

#user {
    height: 60%;
    width: 60%;
    margin-top: -15px;
    margin-left: 15px;
}

    #select-user {
        height: 65%;
        width: 65%;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
        margin-bottom: 80px;
    }
    
        #select-user-path {
            stroke-dasharray: 850;
            stroke-dashoffset: 850;
            animation: dash 3s linear forwards;
        }

.header-text {
    font-size: 600%;
    color: #2A2A2A;
    font-family: 'Monoton';
    position: absolute;
    z-index: 1;
    line-height: 80px;
    overflow: hidden;
}

/* About Styles */
.subsection-padding {
    padding-bottom: 65px;
}

/* Education Styles */
.vertical-center {
    align-items: center;
    display: flex;
}

.school-logo {
    padding-right: 0px;
}



/*Footer Styles */
#footer {
    background-color: #2A2A2A;
    height: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#contact {
    margin-bottom: 0;
}


/*Logo Styles
.logo {
    font-size: 2000%;
    color: black;
    opacity: .13;
}

.logo-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#c-logo {
    position: absolute;
    z-index: 5;
    background-color: white;
    font-family: 'Monoton';
}

#byline-1 {
    position: absolute;
    font-size: 400%;
    z-index: 1000;
    margin-top: 135px;
    text-transform: lowercase;
    display: inline-block;
}

#byline-2 {
    font-size: 150%;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    display: inline-block;
    margin-bottom: 200px;
    margin-top: 240px;
}



Non-mobile styles

h2:before, h2:after{    
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
*/