/*Body Styles */

.no-padding-margin {
    padding: 0;
    margin: 0px 0px 0px 0px;
}

body {
    background-color: white;
    font-family: 'Quicksand';
}

/*Navbar Styles*/

.navbar {
    border-radius: 0px;
    min-height: 85px;
    border: 0px;
    background-color: white;
    margin-bottom: 0px;
    
}

.navbar-toggle {
    display: block;
    height: 85px;
    width: 85px;
    float: left;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15); 
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    margin: auto;
}

/*Logo Styles*/
.logo {
    font-size: 1000%;
    color: black;
    opacity: .15;
}

#c-logo {
   z-index: 0;
}

#f-logo {
    z-index: 1;
    position: relative;
    top: -146px;
    left: 20px;
}

#byline-1 {
    margin-top: -330px;
    font-size: 300%
}

#byline-2 {
    margin-top: -230px;
    font-size: 150%
}

/*Portfolio Styles*/
#portfolio {
    padding-top: 0px;
}




/* Mobile Styles */
.col-xs-12 {
    padding: 0px 0px 20px 0px;
    margin: 0;
}

/* Tablet Styles */
@media only screen and (min-width: 750px) {
    
    .col-sm-12 {
        padding: 15px 25px 15px 25px;
    }
    
    /* For tablets: 
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    */
}

/*Desktop Styles*/
@media only screen and (min-width: 970px) {
    
    .col-md-4 {
        padding: 0;
        margin: 0;
    }
    
    /* For tablets: 
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    */
}