/*Page Styles*/
.section-spacing {
    margin-top: 200px;
}

/*Element Styles*/
body {
    background-color: #d8dfe5;
    color: #606366;
    font-family: 'Poppins', cursive;
}

h4 {
    margin-bottom: 20px;
}

p {
    font-size: 115%;
    line-height: 30px;
    letter-spacing: 1px;
}

.no-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
}

/*Header Styles*/
header {
    position: fixed;
    z-index: 1;
}

    .logo-container {
        margin-left: 15px;
    }

    
        .logo {
            font-family: 'Poppins';
            font-size: 600%;
            margin-left: 20px;
        }
        
            .logo-shadow {
                color: #606366;
            }
            
            .logo-relief {
                color: #fa8072;
                position: absolute;
                z-index: 1;
                top: -6px;
                bottom: 0;
                left: 6px;
                right: 0;
            }
            
.navigation-container {
    position: fixed;
    z-index: 1;
}

/* Main Container Styles */
.section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.title-section {
    padding-top: 170px;
}

.title {
    letter-spacing: 1.5px;
}

.subtitle {
    letter-spacing: 1.5px;
}


/*Portfolio Styles */
.portfolio-box {
    margin-bottom: 15px;
    
}

.project-container {
    height: 120px;
    background-color: #c0c6cc;
    transition: background-color .5s;
}

    .project-container:hover {
        background-color: #d8dfe5;
    }

    .project-container>i {
        line-height: 120px;
    }
        

/* Education Styles */
.panel {
    background-color: #c0c6cc;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
}

.panel p {
    min-height: 200px;
    padding-top: 15px;
}

.vertical-center {
    align-items: center;
    display: flex;
}

.school-logo {
    padding-right: 0px;
}

.progress-bar {
    background-color: #fa8072;
}


/*About Section*/
.about-section img {
    width: 50%;
    float: right;
    margin: 0 0 30px 30px;
}

/*Contact Section */
.contact-section {
    margin-bottom: 0;
}

.contact {
    background-color: #c0c6cc;
    height: 400px;
    padding-bottom: 0;
    margin-bottom: 0;
}

    .contact img {
        padding-top: 40px;
    }
    
.contact.fa-linkedin {
    margin-right: 35px;
}
    
.contact-icons {
    margin-left: 35px;
    margin-top: 35px;
}

.icon-circle {
    height: 60px;
    width: 60px;
    background-color: #d8dfe5;
    margin-right: 35px;
    display: inline-block;
    border-radius: 100%;
}

.icon-circle i {
    line-height: 59px;
    color: #c0c6cc;
}

@media only screen and (min-width: 700px) {
    /*Add margins to desktop view*/
    .section {
        padding-left: 85px;
        padding-right: 85px;
    }
}



