/*Body Styles*/
body {
    background-color: white;
    font-family: 'Cutive Mono';
}

h2 {
    text-align: center;
}

.hidden-elements {
    visibility: hidden;
}

.absolute-pos {
    position: absolute;
}


/*Section Headings */
.container-fluid > h3 {
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

p {
   line-height: 36px; 
   letter-spacing: 1.33px;
   padding-bottom: 15px;
   font-size: 1.5em;
   text-align: justify; 
}

.no-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
}

.no-padding {
    padding: 0px 0px 0px 0px;
}

section {
    margin-bottom: 50px;
}


/*Header Animations */

#animation-container-ellipsis{
    margin-top: -150px;
}

    #ellipsis {
        height: 95%;
        width: 95%;
        position: absolute;
        z-index: 1;
    }
    
        #ellipsis-path {
            stroke-dasharray: 1569;
            stroke-dashoffset: 1569;
            animation: draw-ellipsis .5s linear forwards normal infinite paused;
        }
      

#animation-container-emphasis {
    margin-top: -50px;
}

    #emphasis {
        height: 70%;
        width: 70%;
        position: absolute;
        z-index: 1;
    }

        #emphasis-path {
                stroke-dasharray: 1569;
                stroke-dashoffset: 1569;
                animation: draw-emphasis .5s linear forwards normal infinite paused;
        }

#animation-container-star {
    margin-top: -120px;
    margin-left: -60px;
}

    #star {
        height: 35%;
        width: 35%;
        position: absolute;
        z-index: 1;
    }
    
        #star-path {
                stroke-dasharray: 1425;
                stroke-dashoffset: 1425;
                animation: draw-star .5s linear forwards normal infinite paused;
        }
    
    .section-animation {
        height: 120px;
    }
    
        .section-animation-center {
            left: 0;
            right: 0;
            margin: auto;
        }


/*Navbar Styles*/
.navbar {
    border-radius: 0px;
    border: 0px;
    
    margin-bottom: 0px;
    min-height: 85px;
}

.navbar-default .navbar-link {
    color: black;
    font-family: 'Wire One';
    font-size: 525%;
    text-decoration: none;
}
    
.nav-subtitle {
    font-family: 'Poiret One';
    font-size: 120%;
    line-height: 115%;
    display: inline-block;
    margin-left: 3px;
    border-left: 1px solid black;
    padding-left: 7px;
    text-align: left;
}

.navbar-toggle {
    display: block;
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 0px;
    z-index: 1;
    position: absolute;
    right: 0;
    /*
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15); 
    */
}

.nav-icons{
    list-style-type: none;
}

    .nav-icons>li a, .nav-icons>li {
        display: inline;
    }

.nav-social-links {
    margin-top: 15px;
    display: inline-block;
}

    .nav-social-links i {
        margin-right: 5px;
    }

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

    .navbar-toggle .icon-bar {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        margin: auto;
        
    }

.nav-pills {
    padding-top: 100px;
    font-family: 'Permanent Marker';
}


/* Header Styles */
.header-bg{
    background: url(../img/cody_bg_angle.jpg) no-repeat;
    background-size: cover;
    height: 450px;
}


.title {
    font-family: 'Monofett';
    font-size: 350%;
    line-height: .66;
    color: #2A2A2A;
    display: inline-block; 
    letter-spacing: -9px;
}
    
    .last-name {
        margin-left: 15px;
    }

        .title-first{
            position: relative;
            top: 48px;
        }
        
        .title-second{
            position: relative;
            top: 94px;
        }

.subtitle-row {
    margin-top: 105px;
}

    .title-subtitle {
       font-family:'Cutive';
       font-size: 165%;
       line-height: 1;
       display: inline-block;
    }

.title-line-height {
   line-height: 68px; 
}

.title-top {
    margin-top: 15px;
}

/*
.title-img-top {
    margin-top: 10px;
}
*/

.header-img {
   border-radius: 100%;
}

.path {
  stroke-dasharray: 875;
  stroke-dashoffset: 875;
  animation: draw-arrow .75s linear forwards;
  animation-delay: 1s;
}

/* CSS Animations */
@keyframes draw-arrow { /* Arrow */
  from {
      stroke-dashoffset: 875; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-briefcase { /* Briefcase select */
  from {
      stroke-dashoffset: 925; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

    @keyframes erase-briefcase {
      from {
          stroke-dashoffset: 925; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }

@keyframes draw-grad { /*Education select */
  from {
      stroke-dashoffset: 1025; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

    @keyframes erase-grad {
      from {
          stroke-dashoffset: 1025; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }
    
@keyframes draw-user { /*About select */
  from {
      stroke-dashoffset: 850; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

    @keyframes erase-user {
      from {
          stroke-dashoffset: 850; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }
    
@keyframes draw-envelope { /*Contact select */
  from {
      stroke-dashoffset: 850; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

    @keyframes erase-envelope {
      from {
          stroke-dashoffset: 850; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }

@keyframes draw-ellipsis { /*About emphasis */
  from {
      stroke-dashoffset: 1569; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

    @keyframes erase-ellipsis { /*About emphasis */
      from {
          stroke-dashoffset: 1569; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }

@keyframes draw-emphasis { /*Education emphasis */
  from {
      stroke-dashoffset: 1569; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

    @keyframes erase-emphasis { /*Education emphasis */
      from {
          stroke-dashoffset: 1569; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }

@keyframes draw-star { /*Portfolio emphasis */
  from {
      stroke-dashoffset: 1425; 
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

    @keyframes erase-star { /*Portfolio emphasis */
      from {
          stroke-dashoffset: 1425; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }

@keyframes erase-shading { /*Shading Erase*/
      from {
          stroke-dashoffset: 6680; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }
    
        @keyframes draw-shading { /*Shading Draw*/
      from {
          stroke-dashoffset: 6680; 
      }
      
      to {
        stroke-dashoffset: 0;
      }
    }



#arrow {
   height: 40%;
   width: 40%;
   position: absolute;
   z-index: 20;
   left: 10px;
   top: 20px;
}

.shading {
    stroke-dasharray: 6680;
    stroke-dashoffset: 6680;
    animation: erase-briefcase .5s linear forwards normal infinite paused;
}


#briefcase {
    height: 13%;
    width: 13%;
}
   
    #select-briefcase {
        height: 60%;
        width: 60%;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
        margin-top: 10px;
    }
        
        #select-briefcase-path {
            stroke-dasharray: 925;
            stroke-dashoffset: 925;
            animation: draw-briefcase .5s linear forwards normal infinite paused;
        }

#graduation {
    height: 60%;
    width: 60%;
    margin-top: 15px;
    margin-right: 10px;
}

    #select-graduation {
        height: 65%;
        width: 65%;
        position: absolute;
        z-index: 1;
        margin-right: 10px;
        margin-top: 10px;
    }
    
        #select-graduation-path {
            stroke-dasharray: 1025;
            stroke-dashoffset: 1025;
            animation: draw-grad .5s linear forwards normal infinite paused;
        }

#user {
    height: 60%;
    width: 60%;
    margin-top: -15px;
    margin-left: 15px;
}

    #select-user {
        height: 65%;
        width: 65%;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
        margin-bottom: 80px;
    }
    
        #select-user-path {
            stroke-dasharray: 850;
            stroke-dashoffset: 850;
            animation: draw .5s linear forwards normal infinite paused;
        }


#envelope {
    height: 18%;
    width: 18%;
    margin-top: 40px;
    margin-right: 5px;
}

    #select-envelope {
        height: 65%;
        width: 65%;
        position: absolute;
        z-index: 1;
        margin-right: 0px;
        margin-bottom: 85px;
    }
    
        #select-envelope-path {
            stroke-dasharray: 850;
            stroke-dashoffset: 850;
            animation: draw .5s linear forwards normal infinite paused;
        }
        



.header-text {
    font-size: 600%;
    color: #2A2A2A;
    font-family: 'Monoton';
    position: absolute;
    z-index: 1;
    line-height: 80px;
    overflow: hidden;
}

/* About Styles */
.subsection-padding {
    padding-bottom: 65px;
}

/*Portfolio Styles */
.portfolio-spacing {
    padding-bottom: 15px;
}

.overlay-container:hover .overlay {
    opacity: .75;
}

.overlay-container {
    position: relative;
}

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: white;
        
    }
    
        .overlay-text {
            color: black;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

/* Education Styles */
.vertical-center {
    align-items: center;
    display: flex;
}

.school-logo {
    padding-right: 0px;
}



/*Footer Styles */
#footer {
    background-color: #2A2A2A;
    height: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#contact {
    margin-bottom: 0;
}


@media only screen and (min-width: 675px) {
    .header-bg{
        height: 600px;
    }
}

@media only screen and (min-width: 900px) {
    .header-bg{
        background-size: contain;
        background-position: center;
    }
    
    
    body {
        max-width: 900px;
        padding-top: 25px;
        margin: auto;
    }
}
