<!DOCTYPE html>
<html>
  <head>
    <title>Cody Fontes - Web Developer</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Mobile view sizing -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom Stylesheet -->
    <link rel='stylesheet' type='text/css' href='css/custom.css'>
    <link rel='stylesheet' type='text/css' href='css/portfolio_modal.css'>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>
  <body>
    <%= yield %>

    <!-- JavaScript Apps -->
    <script src="js/main.js"></script>
  </body>
</html>
